.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

TestResults/
[Bb]uild/
[Dd]ebug/
[Rr]elease/

*.nupkg
packages/

logs/
*.log
.env
.env.*
appsettings.Production.json
appsettings.Staging.json
